@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'flowbite';


.custom-quill {
    height: 150px; /* Set your desired height */
  }
  

  .neomorphic-icon {
    width: 45px;
    height: 45px;
    background: #e0e0e0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
    box-shadow: 8px 8px 16px #bebebe, -8px -8px 16px #ffffff;
    transition: all 0.3s ease;
  }
  
  .neomorphic-icon:hover {
    box-shadow: inset 8px 8px 16px #bebebe, inset -8px -8px 16px #ffffff;
    color: #333;
  }

/* Add this to your global styles (e.g., globals.css) */
@keyframes vibrate {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  75% {
    transform: translateX(2px);
  }
}

.vibrate {
  animation: vibrate 0.8s infinite; 
}

  